name: 'SWM GitHub Actions Basic'

on: push

jobs:
  first-job:

   name: 'First Job'

    runs-on: ubuntu-latest

    steps:
    - name: Say Hello World
      shell: bash
      run: |
        echo "Hello World"

  second-job:

    name: 'Second Job'

    needs:
    - 'first-job'

    runs-on: ubuntu-latest

    steps:
    - name: Say Hello World
      shell: bash
      run: |
        echo "Hello World"
